<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TelegramBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="SampleContext" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=TelegramConnection;Trusted_Connection=true" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TelegramBot.Properties.Settings>
      <setting name="TokenBot" serializeAs="String">
        <value>481905442:AAF69M-Qmaa6w5lTpot3j8a-TR8_mHdNqO4</value>
      </setting>
      <setting name="TokenDarkSky" serializeAs="String">
        <value>7a14e046be3afaf782b041c3dcf6ec59</value>
      </setting>
      <setting name="RequestDarkSky" serializeAs="String">
        <value>https://api.darksky.net/forecast</value>
      </setting>
      <setting name="TokenTranslator" serializeAs="String">
        <value>trnsl.1.1.20170818T125137Z.bc602a78a7863e84.26863776415c893e9c6e51cc8a03462540980d54</value>
      </setting>
      <setting name="RequestTranslator" serializeAs="String">
        <value>https://translate.yandex.net/api/v1.5/tr.json/translate?</value>
      </setting>
      <setting name="TokenOpenWeather" serializeAs="String">
        <value>b1263a17d6a6ffb120b199f9ccde33a9</value>
      </setting>
      <setting name="RequestOpenWeather" serializeAs="String">
        <value>http://api.openweathermap.org/data/2.5/weather?</value>
      </setting>
    </TelegramBot.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>